body {
  font-family: sans-serif;
  text-align: center;
}

#grid {
  margin: 0 auto;
  border-spacing: 0;
  border: 2px solid blue;
  box-shadow: 0 0 10px navy;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.cell {
  height: 24px;
  width: 24px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px 0px 0px 1px;
}

.cell.present {
  border-width: 4px;
}
